#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: end;
    gap: 10px;
}